* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: "Sansation", sans-serif;
}
:root {
    --first-color: #1979EA;
    --second-color: #333333;
    --bg-color: #EFF6FE;
    --error-color: #e74c3c;
}
main {
    background: var(--bg-color);
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card {
    box-shadow: 0 0 .5em grey;
    padding: 1em;
    border-radius: 1em;
    width: 100%;
}
.margin-block { height: 75px; }
.br { height: 20px; }

header {
    background: var(--first-color);
    padding: 1em;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
}
header h1 { font-weight: 900; }
header nav {
    display: flex;
    align-items: center;
    gap: .25em;
}
header nav .link:first-child { border-right: 2px solid white; padding-right: .25em; }
header nav .link:last-child { border-left: 2px solid white; padding-left: .25em; }
header nav .link.active,
header nav .link:hover {
    transform: scale(1.02);
    filter: drop-shadow(0 0 .25em white);
}
.notification {
    background: var(--bg-color);
    border: 2px solid var(--first-color);
    padding: .25em;
    border-radius: .5em;
    font-size: 1.25em;
}
.notification a { font-size: 1em; color: var(--first-color); }

.strong-centered-text {
    text-align: center;
    font-weight: 900;
    font-size: 2em;
    margin: 1em 0;
}
.p-centered-text {
    text-align: center;
    font-weight: 750;
    opacity: .8;
}
.button-full,
.button-medium {
    background: var(--first-color);
    padding: .75em 1.75em;
    font-weight: 750;
    color: white;
    border-radius: .25em;
    border: 2px solid var(--first-color);
}
.button-full:active {
    background: var(--bg-color);
    color: var(--first-color);
    border: 2px solid var(--first-color);
}
.button-medium {
    background: var(--bg-color);
    color: var(--first-color);
}
.button-medium:active {
    background: var(--first-color);
    color: white;
}
.why-boxes {
    display: flex;
    flex-direction: column;
    gap: .5em;
}
.why-boxes .card { border-radius: 1em; }
.why-boxes .card * { text-align: start; }
.why-boxes .card .strong-centered-text { font-size: 1.25em; }
.why-boxes .card p { opacity: .8; }
.why-boxes .card .icon { font-size: 2em; }

.form-container {
    background: white;
    padding: 1em;
    width: 350px;
    border-radius: .5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-container .form-header {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.form-container .form-header .form-choose {
    font-size: 1.25em;
    font-weight: 650;
    text-align: center;
    width: 100%;
    padding: .25em;
}
.form-container .form-header .form-choose.active {
    border-bottom: 2px solid var(--first-color);
}
.form-container .title {
    font-size: 1.5em;
    font-weight: 750;
    margin-block: .5em 1em;
    text-align: center;
}
.form-container .login-container,
.form-container .register-container { width: 90%; }
.form-container .input-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: .5em;
    margin-top: .75em;
}
.form-container .input-box label { font-size: 1.15em; }
.form-container .input-box input,
.form-container .input-box textarea {
    background: none;
    border: 1px solid grey;
    padding: .75em;
    border-radius: .5em;
}
.form-container .input-box textarea { height: 7em; }
.form-container button {
    background: var(--first-color);
    width: 100%;
    margin-top: .75em;
    font-size: 1.05em;
    font-weight: 750;
    color: white;
    border: 2px solid var(--first-color);
    padding: .5em;
    border-radius: .5em;
}
.form-container button:active {
    background: var(--bg-color);
    color: var(--first-color);
}
.form-container .error-box {
    background: var(--error-color);
    border: 2px solid red;
    padding: 1em;
    font-size: .75em;
    margin: 1em 0;
    opacity: .8;
    border-radius: .5em;
    color: white;
    font-weight: 100;
}

.user-link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: underline;
}
.wrote-datas {
    display: flex;
    justify-content: space-around;
    padding: 1em;
}
.wrote-datas .data {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrote-datas .data .title {
    text-align: center;
    font-size: 1.25em;
    font-weight: 750;
}
.wrote-datas .data .quantity {
    font-size: 1.5em;
    color: var(--first-color);
}
.wrote-datas .data .link { color: var(--first-color); }

.messages-list {
    display: flex;
    flex-direction: column;
    gap: .25em;
}
.messages-list .message {
    background: var(--bg-color);
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid var(--first-color);
    border-radius: .5em;
    gap: 1em;
}
.messages-list .message .text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.messages-list .message .icon {
    border-right: 5px solid black;
    border-bottom: 5px solid black;
    padding: .5em;
    transform: rotate(-45deg);
    font-size: .5em;
}

.receiver-box {
    background: var(--bg-color);
    padding: .5em;
    border-radius: .5em;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.receiver-box .username { font-size: 1.15em; font-weight: 550; }
.receiver-box .link {
    color: var(--first-color);
    white-space: nowrap;
    overflow: auto;
}

.view-message-container {}
.view-message-container .text {
    box-shadow: 0 0 .25em var(--second-color);
    border-radius: 1em;
    padding: .5em;
    margin: 1em 0;
    font-size: 1.15em;
}
.answer-container {
    padding: .5em;
}

.for-me-messages {
    display: flex;
    flex-direction: column;
    gap: .25em;
    width: 100%;
}
.for-me-messages .message {
    display: flex;
    justify-content: space-between;
    gap: 60%;
    border: 2px solid var(--first-color);
    padding: .5em;
    border-radius: .25em;
    width: 100%;
    align-items: center;
    font-size: 1.25em;
}
.for-me-messages .message.isseen,
.for-me-messages .message.isanswered { border: 2px solid #333; }
.for-me-messages .message .text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.for-me-messages .message .icon {
    border-right: 5px solid black;
    border-bottom: 5px solid black;
    padding: .5em;
    transform: rotate(-45deg);
    font-size: .5em;
}

footer {
    background: var(--second-color);
    padding: 1em;
    color: white;
}
footer .links {
    display: flex;
    flex-direction: column;
    gap: .25em;
    margin-block: 1em 0;
}
footer .links a {
    color: var(--first-color);
    text-decoration: none;
}

@media (max-width: 400px) {
    header { flex-direction: column; gap: .25em }
    .wrote-datas { flex-direction: column; gap: 1em; }
}

@media (min-width: 900px) {
    .margin-block { height: 0; }
    header, main { font-size: 2em; }
    /* .why-boxes { flex-direction: row; justify-content: space-between; width: 100%; padding: 0 1em; } */
    .form-container { width: 600px; }
    footer { font-size: 2em; }
}

@media (min-width: 1200px) {
    .why-boxes { flex-direction: row; justify-content: space-between; width: 100%; padding: 0 1em; }
}