@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    user-select: none;
}
main { padding: 1em; }
body * {
    display: flex;
    flex-direction: column;
}

:root {
    --first-color: #1979EA;
}

header {
    background: var(--first-color);
    padding: 1em;
    color: white;
}

header h1 { font-weight: 900; }

.card {
    padding: 1em;
    box-shadow: 0 0 .5em grey;
    border-radius: 1em;
    margin: .25em 0;
}


.username {
    font-size: 1.26em;
    font-weight: 750;
}

.link {
    background: grey;
    padding: .15em;
    border-radius: .15em;
    overflow: auto;
    white-space: nowrap;
}

.messages-list { gap: .25em; }
.messages-list .message-box {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.messages-list .message-box .read-btn {
    white-space: nowrap;
    background: #D8D8D8;
    font-weight: 500;
    padding: .15em;
    border-radius: .25em;
}
.messages-list .message-box .message {
    font-weight: 550;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block ;
}

.un-text {
    flex-direction: row;
    align-items: center;
}
.un-text .strong { font-weight: 750; }
.un-text .big { font-size: 1.5em; }

.button {
    background: #D8D8D8;
    width: 100%;
    padding: .5em;
    text-align: center;
    font-weight: 750;
    border-radius: 1em;
    margin: .25em;
}

form {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 1em;
    box-shadow: 0 0 .5em grey;
    border-radius: 1em;
    align-items: center;
    gap: .5em;
}

form input,
form textarea {
    background: none;
    border: none;
    font-size: 1.5em;
    border-bottom: 2px solid var(--first-color);
    width: 100%;
}

form button {
    background: var(--first-color);
    padding: .5em;
    color: white;
    font-weight: 750;
    border: 2px solid var(--first-color);
    width: 100%;
    font-size: 1.25em;
}

form button:active {
    background: white;
    color: var(--first-color);
    border: 2px solid var(--first-color);
}

.message-title { font-size: 1.25em; font-weight: 750; }
.message-text {
    background: #2c2c2c;
    padding: .25em;
    border-radius: .5em;
    color: white;
}