{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <h1>NeGap</h1>
    </header>
    <main>

        <div class="card">
            <div class="message-title">Ваш сообщение</div>
            <div class="message-text">{{ message.text }}</div>
        </div>

        <div class="card">
            <div class="message-title">Получатель: {{ user.username }}</div>
        </div>

        {% if answer %}
        <div class="card">
            <div class="title">Ответ</div>
            <div class="message-text">{{ answer.text }}</div>
        </div>
        {% endif %}

    </main>
</body>
</html>