<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>NeGap</h1>
        <nav>
            <div class="link active">Главная</div>
            <div class="link">Выйти</div>
            <div class="link">Профиль</div>
        </nav>
    </header>
    <main>
        
        <div class="strong-centered-text">Сообщений отправленные вам</div>
        
        <div class="for-me-messages">
            <div class="message">
                <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus quis ea voluptatem nemo molestiae numquam facere vitae quos dolores illum, excepturi at error tenetur alias quia natus mollitia animi culpa!</div>
                <div class="icon"></div>
            </div>
            <div class="message">
                <div class="text">lorem</div>
                <div class="icon"></div>
            </div>
            <div class="message">
                <div class="text">lorem</div>
                <div class="icon"></div>
            </div>
            <div class="message">
                <div class="text">lorem</div>
                <div class="icon"></div>
            </div>
            <div class="message">
                <div class="text">lorem</div>
                <div class="icon"></div>
            </div>
        </div>
        
    </main>
    <footer>

        <p>© 2025 NeGap. Все права защищены.</p>
        <div class="links">
            <a href="reg">Регистрация</a>
            <a href="auth">Авторизоваться</a>
        </div>
        
    </footer>
</body>
</html>