{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <h1>NeGap</h1>
        <nav>
            <div class="link" onclick="location.assign('{% url 'main:home' %}')">Главная</div>
            <div class="link" onclick="location.assign('{% url 'user:register' %}')">Регистрация</div>
            <div class="link active" onclick="location.assign('{% url 'user:login' %}')">Войти</div>
        </nav>
    </header>
    <main>

        <div class="margin-block"></div>

        <div class="form-container">
            <div class="form-header">
                <div class="form-choose login-choose active" onclick="location.assign('{% url 'user:login' %}')">Вход</div>
                <div class="form-choose register-choose"onclick="location.assign('{% url 'user:register' %}')">Регистрация</div>
            </div>
            {% if error %} <div class="error-box">{{ error }}</div> {% endif %}
            <form method="post" class="login-container">
                {% csrf_token %}
                <div class="title">Вход в аккаунт</div>
                <div class="input-box">
                    <label for="username">Имя</label>
                    <input type="text" name="username" placeholder="Username">
                </div>
                <div class="input-box">
                    <label for="password">Пароль</label>
                    <input type="password" name="password" placeholder="Password">
                </div>
                <button type="submit">Войти</button>
            </form>

        <div class="margin-block"></div>

    </main>
    <footer>

        <p>© 2025 NeGap. Все права защищены.</p>
        <div class="links">
            <a href="reg">Регистрация</a>
            <a href="auth">Авторизоваться</a>
        </div>

    </footer>
</body>
</html>