{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Сообщение #{{ message.id }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <h1 onclick="location.assign('{% url 'main:home' %}')">NeGap</h1>
        <nav>
            <div class="link" onclick="location.assign('{% url 'main:home' %}')">Главная</div>
            {% if request.user.username == "shaxrux" %} <div class="link" onclick="location.assign('/admin/')">Админ</div> {% endif %}
            {% if request.user.is_anonymous %}
                <div class="link" onclick="location.assign('{% url 'user:register' %}')">Регистрация</div>
                <div class="link" onclick="location.assign('{% url 'user:login' %}')">Войти</div>
            {% else %}
                <div class="link" onclick="location.assign('{% url 'user:logout' %}')">Выйти</div>
                <div class="link" onclick="location.assign('{% url 'user:login' %}')">Войти</div>
            {% endif %}
        </nav>
    </header>
    <main>

        <div class="view-message-container">

            {% if message.receiver == request.user.id and not message.is_answered %}
            <div class="view-message-container">
                <div class="strong-centered-text">Сообщение к вам 🥷</div>
                <div class="text">{{ message.text }}</div>
                <div class="button-full" onclick="location.assign('/answer?message_id={{ message.id }}')">Ответить</div>
            </div>
            {% endif %}
            
            {% if message.is_my and not message.is_answered %}
            <div class="view-message-container">
                <div class="strong-centered-text">Ваш сообщение 🥷</div>
                <div class="text">{{ message.text }}</div>
                <div class="button-full">Открыть получателя</div>
            </div>
            {% endif %}
            
            {% if message.is_my and message.is_answered %}
            <div class="view-message-container">
                <div class="strong-centered-text">Ваш сообщение 🥷</div>
                <div class="text"><div class="p-centered-text">Вы отправили</div>{{ message.text }}</div>
                <div class="text"><div class="p-centered-text">Вам ответ</div>{{ message.answer.text }}</div>
            </div>
            {% endif %}
            
            {% if not message.is_my and message.is_answered %}
            <div class="view-message-container">
                <div class="strong-centered-text">Ваш ответ 🥷</div>
                <div class="text"><div class="p-centered-text">Вам отправил</div>{{ message.text }}</div>
                <div class="text"><div class="p-centered-text">Ваш ответ</div>{{ message.answer.text }}</div>
            </div>
            {% endif %}
            
        </div>

    </main>
    <footer>
        <p>© 2025 NeGap. Все права защищены.</p>
        <div class="links">
            <a href="reg">Регистрация</a>
            <a href="auth">Авторизоваться</a>
        </div>
    </footer>
</body>
</html>